<!DOCTYPE html>
<html lang="es">
<head></head>
<body>
<header></header>

<main id="benefits-page" class="container">
	<a class="back" href="javascript:history.back()"><i class="fas fa-arrow-left" aria-hidden="true"></i>Atr&aacute;s</a>
	<div class="content">
		<aside class="filters">
			<div class="filter filter-brand">
				<p>Filtrar por marca</p>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Todas las marcas</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Cl&iacute;nica Aviva</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Promart</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Cineplanet</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Innova Schools</span>
				</label>
			</div>
			<div class="filter filter-category">
				<p>Filtrar por categor&iacute;a</p>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Todas las categor&iacute;as</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Compras</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Educaci&oacute;n</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Restaurantes</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Familia y Salud</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Entretenimiento</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Tecnolog&iacute;a</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Productos financieros</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Viajes</span>
				</label>
			</div>
			<div class="filter filter-type">
				<p>Filtrar por tipo de canje</p>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Todos los tipos</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Env&iacute;o por email</span>
				</label>
				<label class="ic-checkbox">
					<input type="checkbox" hidden>
					<i class="far fa-square" aria-hidden="true"></i>
					<span class="label">Informativo</span>
				</label>
			</div>
		</aside>
		<div class="benefit-list">
			<div class="title">
				<h1>Todos nuestros beneficios</h1>
				<div>
					<div class="ic-dropdown">
						<i class="fas fa-angle-down" aria-hidden="true"></i>
						<span class="placeholder">Ordenar por</span>
						<input type="text" readonly>
						<input type="hidden">
						<ul class="ic-droplist">
							<li class="disabled">Elegir</li>
							<li class="ic-dropitem" data-value="0">Destacados</li>
							<li class="ic-dropitem" data-value="1">Nombre A - Z</li>
							<li class="ic-dropitem" data-value="2">Nombre Z - A</li>
						</ul>
						<select id="" class="ic-dropdown-mobile">
							<option value="0">Destacados</option>
							<option value="1">Nombre A - Z</option>
							<option value="2">Nombre Z - A</option>
						</select>
					</div>
					<button type="button" class="ic-secondary-button" id="filter-mb">Filtros</button>
				</div>
			</div>
			<section>
				<article class="benefit">
					<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
					<div class="image"><img src="../assets/images/benefit1.png" alt=""></div>
					<div class="detail">
						<div>
							<p class="brand">Innova Schools</p>
							<p class="name">3er hermano sin cuota de ingreso</p>
						</div>
						<div class="buttons">
							<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
							<ul class="share">
								<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
								<li><i class="fas fa-heart" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="benefit">
					<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
					<div class="image"><img src="../assets/images/benefit2.png" alt=""></div>
					<div class="detail">
						<div>
							<p class="brand">Cl&iacute;nica Aviva</p>
							<p class="name">5% de descuento</p>
						</div>
						<div class="buttons">
							<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
							<ul class="share">
								<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
								<li><i class="fas fa-heart" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="benefit">
					<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
					<div class="image"><img src="../assets/images/benefit3.png" alt=""></div>
					<div class="detail">
						<div>
							<p class="brand">Promart</p>
							<p class="name">30% de dscto en parrilas</p>
						</div>
						<div class="buttons">
							<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
							<ul class="share">
								<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
								<li><i class="fas fa-heart" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="benefit">
					<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
					<div class="image"><img src="../assets/images/benefit4.png" alt=""></div>
					<div class="detail">
						<div>
							<p class="brand">Esan | Graduate School of Business</p>
							<p class="name">Hasta 45% de descuento</p>
						</div>
						<div class="buttons">
							<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
							<ul class="share">
								<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
								<li><i class="fas fa-heart" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="benefit">
					<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
					<div class="image"><img src="../assets/images/benefit5.png" alt=""></div>
					<div class="detail">
						<div>
							<p class="brand">Club Intercorp</p>
							<p class="name">Creciendo con Intercorp</p>
						</div>
						<div class="buttons">
							<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
							<ul class="share">
								<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
								<li><i class="fas fa-heart" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="benefit">
					<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
					<div class="image"><img src="../assets/images/benefit6.png" alt=""></div>
					<div class="detail">
						<div>
							<p class="brand">Zegel IPAE</p>
							<p class="name">20% de descuento</p>
						</div>
						<div class="buttons">
							<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
							<ul class="share">
								<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
								<li><i class="fas fa-heart" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="benefit">
					<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
					<div class="image"><img src="../assets/images/benefit7.png" alt=""></div>
					<div class="detail">
						<div>
							<p class="brand">Inkafarma</p>
							<p class="name">5% de descuento</p>
						</div>
						<div class="buttons">
							<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
							<ul class="share">
								<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
								<li><i class="fas fa-heart" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="benefit">
					<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
					<div class="image"><img src="../assets/images/benefit8.png" alt=""></div>
					<div class="detail">
						<div>
							<p class="brand">Bembos</p>
							<p class="name">10% de descuento</p>
						</div>
						<div class="buttons">
							<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
							<ul class="share">
								<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
								<li><i class="fas fa-heart" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="benefit">
					<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
					<div class="image"><img src="../assets/images/benefit9.png" alt=""></div>
					<div class="detail">
						<div>
							<p class="brand">Financiera Oh!</p>
							<p class="name">Super beneficios con Tarjeta Oh!</p>
						</div>
						<div class="buttons">
							<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
							<ul class="share">
								<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
								<li><i class="fas fa-heart" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</article>
			</section>
			<div class="ic-paginator">
				<button type="button" data-page="prev" class="disabled">Anterior</button>
				<select id="cboPaginator" class="ic-paginator-mobile">
					<option value="1">P&aacute;gina 1</option>
					<option value="2">P&aacute;gina 2</option>
					<option value="3">P&aacute;gina 3</option>
					<option value="4">P&aacute;gina 4</option>
					<option value="5">P&aacute;gina 5</option>
				</select>
				<button type="button" data-page="1" class="active">1</button>
				<button type="button" data-page="2">2</button>
				<button type="button" data-page="3">3</button>
				<button type="button" data-page="4">4</button>
				<button type="button" data-page="5">5</button>
				<button type="button" data-page="next">Siguiente</button>
			</div>
		</div>
	</div>

	<div class="ic-modal" id="modal-filter">
		<div class="content-modal">
			<div class="header-modal">
				<h2 class="title">Filtros</h2>
				<i class="fas fa-times close-modal" aria-hidden="true"></i>
			</div>
			<div class="body-modal">
				<div class="filter filter-brand">
					<p>Filtrar por marca</p>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Todas las marcas</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Cl&iacute;nica Aviva</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Promart</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Cineplanet</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Innova Schools</span>
					</label>
				</div>
				<div class="filter filter-category">
					<p>Filtrar por categor&iacute;a</p>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Todas las categor&iacute;as</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Compras</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Educaci&oacute;n</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Restaurantes</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Familia y Salud</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Entretenimiento</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Tecnolog&iacute;a</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Productos financieros</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Viajes</span>
					</label>
				</div>
				<div class="filter filter-type">
					<p>Filtrar por tipo de canje</p>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Todos los tipos</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Env&iacute;o por email</span>
					</label>
					<label class="ic-checkbox">
						<input type="checkbox" hidden>
						<i class="far fa-square" aria-hidden="true"></i>
						<span class="label">Informativo</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</main>

<footer></footer>

<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/util.js"></script>
<script type="text/javascript">
	setTimeout(function(){
		$(function(){
			var benefits = new Benefits();
			benefits.init();
		});
	}, 500);
</script>
</body>
</html>