<!DOCTYPE html>
<html lang="es">
<head></head>
<body>
<header></header>

<main id="benefit-detail-page" class="container">
	<a class="back" href="javascript:history.back()"><i class="fas fa-arrow-left" aria-hidden="true"></i>Atr&aacute;s</a>
	<div>
		<div class="image">
			<img src="../assets/images/benefit-detail.png" alt="">
		</div>
		<div class="content">
			<p class="category"><i class="fas fa-shopping-basket" aria-hidden="true"></i>Compras</p>
			<p class="brand">Promart</p>
			<div class="block">
				<div>
					<h1 class="title">30% de dscto. en parrillas</h1>
					<p class="description">Los miembros del Club Intercorp accederán a 30% de dscto. en las parrillas a gas Weber en Promart Homecenter.</p>
					<p class="until">V&aacute;lido desde el 27/01/2020 hasta 14/02/2020</p>
				</div>
				<a href="../views/brand.html"><img src="../assets/images/benefit-brand-detail.png" alt=""></a>
      </div>
      <div class="timer">
        <p class="code">C&oacute;digo: <strong>X2UB85</strong></p>
        <p>Tienes:</p>
        <ul>
          <li><strong>02</strong><small>Horas</small></li>
          <li><strong>24</strong><small>Minutos</small></li>
          <li><strong>45</strong><small>Segundos</small></li>
        </ul>
        <button type="button" id="register">Registrar consumo</button>
      </div>
			<div class="locations">
				<p class="pre">&iquest;D&oacute;nde encuentro Promart?<i class="fas fa-store" aria-hidden="true"></i></p>
				<section class="directions">
					<article>
						<a href="../views/locations.html">
							<div>
								<p class="district">Chorrillos</p>
								<p class="description">Real Plaza Pro, AV. Alfredo Mendiola Km 21 No 7026, San Martín de Porres</p>
								<p class="hour">Horario: 08:00 am - 10:00 pm</p>
							</div>
							<div class="distance">
								<p>a 5.1 km</p>
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
						</a>
					</article>
					<article>
						<a href="../views/locations.html">
							<div>
								<p class="district">Chorrillos</p>
								<p class="description">Real Plaza Pro, AV. Alfredo Mendiola Km 21 No 7026, San Martín de Porres</p>
								<p class="hour">Horario: 08:00 am - 10:00 pm</p>
							</div>
							<div class="distance">
								<p>a 5.1 km</p>
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
						</a>
					</article>
					<article>
						<a href="../views/locations.html">
							<div>
								<p class="district">Chorrillos</p>
								<p class="description">Real Plaza Pro, AV. Alfredo Mendiola Km 21 No 7026, San Martín de Porres</p>
								<p class="hour">Horario: 08:00 am - 10:00 pm</p>
							</div>
							<div class="distance">
								<p>a 5.1 km</p>
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
						</a>
					</article>
				</section>
			</div>
			<div class="information">
				<div class="tabs">
					<span class="active" data-tab="obtain">&iquest;C&oacute;mo obtenerlo?</span>
					<span data-tab="restrictions">Restricciones</span>
				</div>
				<div class="content">
					<div data-content="obtain">
						<p>Presentando su DNI en cualquier tienda de Promart a nivel nacional; o comprando en www.promart.pe ingresando con el correo con el que se registraron al Club Intercorp.</p>
					</div>
					<div data-content="restrictions">
						<p>Promoción válida hasta el 31 de diciembre de 2019 y exclusiva para las parrillas a gas Weber. Válido solo para los miembros del Club Intercorp. No acumulable con otras promociones. Stock mínimo para la promoción: 5 unidades por sku. Al realizar la compra en tienda física, presentar DNI e identificarse como miembro del Club Intercorp. Al realizar la compra por la página web, ingresa el correo con el cual se inscribió en el Club Intercorp. Para poder disfrutar del beneficio tendrás que tener al menos un mes como miembro del Club Intercorp.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ic-modal generated" id="modal-cupon">
		<div class="content-modal">
			<div class="body-modal loading">
				<img src="../assets/images/loader.png" class="rotate" alt="">
				<p class="title">Registrando</p>
      </div>
      <div class="body-modal">
				<img src="../assets/images/success-send.png" alt="">
				<p class="title">Operaci&oacute;n exitosa</p>
				<p>El cup&oacute;n ha sido consumido exitosamente. Puedes revisar el historial de cupones en la secci&oacute;n "Mis cupones".</p>
				<a href="../views/coupons.html" class="ic-primary-button ok">Entendido</a>
      </div>
		</div>
	</div>
</main>

<footer></footer>

<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/util.js"></script>
<script type="text/javascript">
	setTimeout(function(){
		$(function(){
			var benefitDetail = new BenefitDetail();
      benefitDetail.init();
      
      $('#register').click(function(){
        icModal('#modal-cupon', 'show');
        setTimeout(() => {
          $('#modal-cupon .body-modal.loading').hide();
          $('#modal-cupon .body-modal:not(.loading)').css({display: 'flex'});
        }, 2000);
      });
		});
	}, 500);
</script>
</body>
</html>