<!DOCTYPE html>
<html lang="es">
<head></head>
<body>
<header></header>

<main id="faq-page" class="container">
	<a class="back" href="javascript:history.back()"><i class="fas fa-arrow-left" aria-hidden="true"></i>Atr&aacute;s</a>
	<h1>Preguntas frecuentes</h1>
	<div class="ic-accordeon">
		<div class="group">
			<p class="accordeon-button">01. &iquest;Qu&eacute; es el Club Intercorp?</p>
			<div class="accordeon-content">
				<p>Es un programa de beneficios exclusivo para colaboradores. Estos beneficios son descuentos y promociones que brindan las empresas que están afiliadas al Club.</p>
			</div>
		</div>
		<div class="group">
			<p class="accordeon-button">02. &iquest;Qu&eacute; requisitos debo cumplir si deseo registrarme en el Club?</p>
			<div class="accordeon-content">
				<p>Para poder inscribirte al club debes ser un colaborador activo de alguna de las empresas del grupo Intercorp y tener una Cta. Sueldo en Interbank.</p>
			</div>
		</div>
		<div class="group">
			<p class="accordeon-button">03. &iquest;C&oacute;mo me inscribo al Club Intercorp?</p>
			<div class="accordeon-content">
				<p>Si cumples con todos los requisitos y quieres registrarte puedes hacerlo de forma directa en el siguiente enlace: <a href="https://goo.gl/SHDvzC" class="ic-inline-link" target="_blank">https://goo.gl/SHDvzC</a>.</p>
				<p>Si necesitas más ayuda puedes guiarte con nuestro video tutorial el cual te permitirá inscribirte en menos de un minuto: <a href="http://bit.ly/2EXYt6l" class="ic-inline-link" target="_blank">http://bit.ly/2EXYt6l</a>.</p>
				<p>No olvides confirmar tu inscripción mediante el correo que te llegará automáticamente realices tu inscripción. Sin la confirmación no podrás dar por finalizada tu inscripción.</p>
			</div>
		</div>
		<div class="group">
			<p class="accordeon-button">04. No puedo acceder porque perd&iacute; mi cuenta, &iquest;c&oacute;mo puedo recuperarla?</p>
			<div class="accordeon-content">
				<p>Para reestablecer tu contraseña debes ingresar tu DNI en el siguiente enlace: <a href="https://goo.gl/HJkZLB" class="ic-inline-link" target="_blank">https://goo.gl/HJkZLB</a></p>
			</div>
		</div>
		<div class="group">
			<p class="accordeon-button">05. &iquest;C&oacute;mo puedo cambiar el correo con el que me registr&eacute; en el Club?</p>
			<div class="accordeon-content">
				<p>Eso lo puedes hacer ingresando con tu DNI y tu contraseña al siguiente enlace: <a href="https://goo.gl/QzX5R4" class="ic-inline-link" target="_blank">https://goo.gl/QzX5R4</a>. Ahí podrás actualizar tus datos las veces que desees.</p>
			</div>
		</div>
		<div class="group">
			<p class="accordeon-button">06. &iquest;D&oacute;nde puedo ver todos los beneficios que el Club me ofrece?</p>
			<div class="accordeon-content">
				<p>Al ingresar a nuestra plataforma web podrás visualizar todos los beneficios que tienes a tu disposición así como las indicaciones que deberás seguir para disfrutarlos sin ningún inconveniente. <a href="http://bit.ly/2mthBkB" class="ic-inline-link" target="_blank">http://bit.ly/2mthBkB</a></p>
			</div>
		</div>
		<div class="group">
			<p class="accordeon-button">07. Enconces, una vez inscrito, &iquest;Para acceder a los beneficios solo debo ir a los locales afiliados y presentar mi DNI?</p>
			<div class="accordeon-content">
				<p>En la mayoría de beneficios ese es el proceso a seguir; sin embargo, para algunos otros deberás seguir las indicaciones que aparecen en nuestra página web:</p>
				<p>Por ejemplo:</p>
				<ul>
					<li>Ponerte en contacto con la persona encargada del Beneficio en dicha empresa.</li>
					<li>Ingresar a la plataforma de Repsol para solicitar tu Promocard.</li>
				</ul>
			</div>
		</div>
		<div class="group">
			<p class="accordeon-button">08. &iquest;C&oacute;mo saber si un beneficio sigue vigente o no?</p>
			<div class="accordeon-content">
				<p>Solo los beneficios que se visualizan en la web son los que aún se encuentran vigentes.</p>
			</div>
		</div>
		<div class="group">
			<p class="accordeon-button">09. &iquest;C&oacute;mo puedo inscribir a mi c&oacute;nyuge en el Club Intercorp?</p>
			<div class="accordeon-content">
				<p>Puedes seguir este video tutorial el cual te indicará paso a paso cómo inscribir a tu cónyugue sin ningún inconveniente: <a href="http://bit.ly/2DPTh5a" class="ic-inline-link" target="_blank">http://bit.ly/2DPTh5a</a></p>
			</div>
		</div>
		<div class="group">
			<p class="accordeon-button">10. &iquest;C&oacute;mo adquiero mi Promocard de Repsol?</p>
			<div class="accordeon-content">
				<p>Puedes seguir el video tutorial, el cual te indicará de manera sencilla como registrarte sin ningún inconveniente. <a href="http://bit.ly/2g6fBja" class="ic-inline-link" target="_blank">http://bit.ly/2g6fBja</a></p>
			</div>
		</div>
		<div class="group">
			<p class="accordeon-button">11. &iquest;El Club tambi&eacute;n puede ayudarme a solicitar un pr&eacute;stamo o resolver alguna situaci&oacute;n de &iacute;ndole bancaria?</p>
			<div class="accordeon-content">
				<p>No, en el Club nos encargamos solo de temas y resolución de problemas relacionados a los Beneficios.</p>
			</div>
		</div>
		<div class="group">
			<p class="accordeon-button">12. &iquest;D&oacute;nde puedo visualizar las ofertas laborales?</p>
			<div class="accordeon-content">
				<p>Las ofertas laborales de Creciendo con Intercorp las puedes visualizar ingresando con tu DNI y tu contraseña en el siguiente enlace: <a href="https://goo.gl/AGRdB6" class="ic-inline-link" target="_blank">https://goo.gl/AGRdB6</a>.</p>
			</div>
		</div>
	</div>
</main>

<footer></footer>

<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/util.js"></script>
</body>
</html>