<!DOCTYPE html>
<html lang="es">
<head></head>
<body>
<header></header>

<main id="home-page">
	<div id="banner">
		<div class="container">
			<i class="handler fas fa-chevron-left" aria-hidden="true" data-handler="prev"></i>
			<i class="handler fas fa-chevron-right" aria-hidden="true" data-handler="next"></i>
		</div>
		<div class="banner current" style="background-image: url(../assets/images/banner-1.jpg);">
			<div class="container">
				<div class="content">
					<h2 class="title">Nihil maiores architecto dolores inventore?</h2>
					<p class="subtitle">Perferendis molestiae iusto repudiandae aliquam minus a beatae vero eveniet?</p>
					<a class="action ic-primary-button" href="javascript:void(0)">Lorem ipsum</a>
				</div>
			</div>
		</div>
		<div class="banner" style="background-image: url(../assets/images/banner-2.jpg);">
			<div class="container">
				<div class="content">
					<h2 class="title">Culpa accusantium nam nesciunt vitae!</h2>
					<p class="subtitle">Fugit alias, esse incidunt in quam architecto impedit ipsa facilis.</p>
					<a class="action ic-primary-button" href="javascript:void(0)">Lorem ipsum</a>
				</div>
			</div>
		</div>
		<div class="banner" style="background-image: url(../assets/images/banner-3.jpg);">
			<div class="container">
				<div class="content">
					<h2 class="title">Quidem itaque magnam veniam architecto.</h2>
					<p class="subtitle">Hic maxime, doloremque fugiat minus neque voluptate placeat vitae veritatis!</p>
					<a class="action ic-primary-button" href="javascript:void(0)">Lorem ipsum</a>
				</div>
			</div>
		</div>
	</div>
	<div id="categories" class="container">
		<h2 class="ic-title">Nuestras categor&iacute;as</h2>
		<ul class="category-list">
			<li class="category cat-compras">
				<a href="./benefits.html?categoria=compras">
					<i class="icon fas fa-shopping-bag" aria-hidden="true"></i>
					<p class="title">Compras</p>
					<p class="count">+12 beneficios</p>
				</a>
			</li>
			<li class="category cat-educacion">
				<a href="./benefits.html?categoria=educacion">
					<i class="icon fas fa-graduation-cap" aria-hidden="true"></i>
					<p class="title">Educaci&oacute;n</p>
					<p class="count">+23 beneficios</p>
				</a>
			</li>
			<li class="category cat-restaurantes">
				<a href="./benefits.html?categoria=restaurantes">
					<i class="icon fas fa-utensils" aria-hidden="true"></i>
					<p class="title">Restaurantes</p>
					<p class="count">+57 beneficios</p>
				</a>
			</li>
			<li class="category cat-familia">
				<a href="./benefits.html?categoria=familia">
					<i class="icon fas fa-heartbeat" aria-hidden="true"></i>
					<p class="title">Familia y Salud</p>
					<p class="count">+10 beneficios</p>
				</a>
			</li>
			<li class="category cat-entretenimiento">
				<a href="./benefits.html?categoria=entretenimiento">
					<i class="icon fas fa-theater-masks" aria-hidden="true"></i>
					<p class="title">Entretenimiento</p>
					<p class="count">+42 beneficios</p>
				</a>
			</li>
			<li class="category cat-tecnologia">
				<a href="./benefits.html?categoria=tecnologia">
					<i class="icon fas fa-mobile-alt" aria-hidden="true"></i>
					<p class="title">Tecnolog&iacute;a</p>
					<p class="count">+64 beneficios</p>
				</a>
			</li>
			<li class="category cat-finanzas">
				<a href="./benefits.html?categoria=finanzas">
					<i class="icon fas fa-wallet" aria-hidden="true"></i>
					<p class="title">Productos financieros</p>
					<p class="count">+22 beneficios</p>
				</a>
			</li>
			<li class="category cat-viajes">
				<a href="./benefits.html?categoria=viajes">
					<i class="icon fas fa-plane" aria-hidden="true"></i>
					<p class="title">Viajes</p>
					<p class="count">+37 beneficios</p>
				</a>
			</li>
		</ul>
	</div>
	<div id="benefits" class="container">
		<h2 class="ic-title">Beneficios destacados</h2>
		<section class="benefit-list">
			<article class="benefit">
				<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
				<span class="tag-right"><img src="../assets/images/icon-white-interbank.png" alt="">Intercorp</span>
				<div class="image"><img src="../assets/images/benefit1.png" alt=""></div>
				<div class="detail">
					<div>
						<p class="brand">Innova Schools</p>
						<p class="name">3er hermano sin cuota de ingreso</p>
					</div>
					<div class="buttons">
						<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
						<ul class="share">
							<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
							<li><i class="fas fa-heart" aria-hidden="true"></i></li>
						</ul>
					</div>
				</div>
			</article>
			<article class="benefit">
				<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
				<span class="tag-right"><img src="../assets/images/icon-white-interbank.png" alt="">Intercorp</span>
				<div class="image"><img src="../assets/images/benefit2.png" alt=""></div>
				<div class="detail">
					<div>
						<p class="brand">Cl&iacute;nica Aviva</p>
						<p class="name">5% de descuento</p>
					</div>
					<div class="buttons">
						<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
						<ul class="share">
							<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
							<li><i class="fas fa-heart" aria-hidden="true"></i></li>
						</ul>
					</div>
				</div>
			</article>
			<article class="benefit">
				<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
				<span class="tag-right"><img src="../assets/images/icon-white-interbank.png" alt="">Intercorp</span>
				<div class="image"><img src="../assets/images/benefit3.png" alt=""></div>
				<div class="detail">
					<div>
						<p class="brand">Promart</p>
						<p class="name">30% de dscto en parrilas</p>
					</div>
					<div class="buttons">
						<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
						<ul class="share">
							<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
							<li><i class="fas fa-heart" aria-hidden="true"></i></li>
						</ul>
					</div>
				</div>
			</article>
			<article class="benefit">
				<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
				<span class="tag-right"><img src="../assets/images/icon-white-interbank.png" alt="">Intercorp</span>
				<div class="image"><img src="../assets/images/benefit4.png" alt=""></div>
				<div class="detail">
					<div>
						<p class="brand">Esan | Graduate School of Business</p>
						<p class="name">Hasta 45% de descuento</p>
					</div>
					<div class="buttons">
						<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
						<ul class="share">
							<!-- <li><i class="fas fa-share-alt" aria-hidden="true"></i></li> -->
							<li><i class="fas fa-heart" aria-hidden="true"></i></li>
						</ul>
					</div>
				</div>
			</article>
		</section>
		<!-- <a class="ic-primary-button" href="../views/benefits.html">Ver todos los beneficios</a> -->
	</div>
	<div id="app">
		<div class="container">
			<img src="../assets/images/app.png" alt="">
			<div>
				<p>Club Intercorp App</p>
				<p>No te pierdas de ninguno de los beneficios que tenemos para ti. Adquierelos desde tu celular.</p>
				<div>
					<a href="javascript:void(0)"><img src="../assets/images/playstore.png" alt=""></a>
					<a href="javascript:void(0)"><img src="../assets/images/appstore.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
	<div id="brands" class="container">
		<h2 class="ic-title">Marcas afiliadas</h2>
		<p class="ic-subtitle">Nos hemos aliado con las mejores marcas para brindarte los mejores beneficios</p>
		<ul class="brand-list">
			<li class="brand"><img src="../assets/images/brand1.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand2.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand3.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand4.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand5.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand6.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand7.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand8.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand9.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand10.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand11.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand12.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand13.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand14.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand15.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand16.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand17.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand18.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand19.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand20.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand21.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand22.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand23.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand24.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand25.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand26.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand27.png" alt=""></li>
			<li class="brand"><img src="../assets/images/brand28.png" alt=""></li>
		</ul>
	</div>

	<div class="ic-modal" id="modal-destacados">
		<div class="content-modal">
			<div class="header-modal">
				<h2 class="title">Destacados</h2>
				<i class="fas fa-times close-modal" aria-hidden="true"></i>
			</div>
			<div class="body-modal">
				<div class="glide">
					<div class="glide__track" data-glide-el="track">
						<section class="benefit-list glide__slides">
							<article class="benefit glide__slide">
								<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
								<div class="image"><img src="../assets/images/benefit1.png" alt=""></div>
								<div class="detail">
									<div>
										<p class="brand">Innova Schools</p>
										<p class="name">3er hermano sin cuota de ingreso</p>
									</div>
									<div class="buttons">
										<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
										<ul class="share">
											<li><i class="fas fa-heart" aria-hidden="true"></i></li>
										</ul>
									</div>
								</div>
							</article>
							<article class="benefit glide__slide">
								<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
								<div class="image"><img src="../assets/images/benefit2.png" alt=""></div>
								<div class="detail">
									<div>
										<p class="brand">Cl&iacute;nica Aviva</p>
										<p class="name">5% de descuento</p>
									</div>
									<div class="buttons">
										<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
										<ul class="share">
											<li><i class="fas fa-heart" aria-hidden="true"></i></li>
										</ul>
									</div>
								</div>
							</article>
							<article class="benefit glide__slide">
								<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
								<div class="image"><img src="../assets/images/benefit3.png" alt=""></div>
								<div class="detail">
									<div>
										<p class="brand">Promart</p>
										<p class="name">30% de dscto en parrilas</p>
									</div>
									<div class="buttons">
										<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
										<ul class="share">
											<li><i class="fas fa-heart" aria-hidden="true"></i></li>
										</ul>
									</div>
								</div>
							</article>
							<article class="benefit glide__slide">
								<span class="tag-new"><i class="far fa-star" aria-hidden="true"></i>Nuevo</span>
								<div class="image"><img src="../assets/images/benefit4.png" alt=""></div>
								<div class="detail">
									<div>
										<p class="brand">Esan | Graduate School of Business</p>
										<p class="name">Hasta 45% de descuento</p>
									</div>
									<div class="buttons">
										<a class="ic-primary-button" href="../views/benefit-detail.html">Ver detalles</a>
										<ul class="share">
											<li><i class="fas fa-heart" aria-hidden="true"></i></li>
										</ul>
									</div>
								</div>
							</article>
						</section>
					</div>
					<div class="glide__arrows" data-glide-el="controls">
						<button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-angle-left" aria-hidden="true"></i></button>
						<span class="glide__counter">1 de 4</span>
						<button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-angle-right" aria-hidden="true"></i></button>
					</div>

					<div class="glide__bullets" data-glide-el="controls[nav]" hidden>
						<button class="glide__bullet" data-glide-dir="=0"></button>
						<button class="glide__bullet" data-glide-dir="=1"></button>
						<button class="glide__bullet" data-glide-dir="=2"></button>
						<button class="glide__bullet" data-glide-dir="=3"></button>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>

<footer></footer>

<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/util.js"></script>
<script type="text/javascript">
	setTimeout(function(){
		$(function(){
			var home = new Home();
			home.init();
		});
	}, 500);
</script>
</body>
</html>