<!DOCTYPE html>
<html lang="es">
<head></head>
<body>
<header></header>

<main id="que-es-page" class="container">
	<a class="back" href="javascript:history.back()"><i class="fas fa-arrow-left" aria-hidden="true"></i>Atr&aacute;s</a>
	<h1>&iquest;Qu&eacute; es el Club Intercorp?</h1>
	<p>El Club Intercorp es el programa de Beneficios exclusivos para colaboradores de empresas afiliadas al grupo Intercorp.</p>
	<iframe src="https://www.youtube.com/embed/rQwHTHAvgb0"></iframe>
	<p>Si eres colaborador en alguna empresa del Grupo, tienes una cuenta en Interbank y quieres ser parte del Club Intercorp:</p>
	<a href="../views/register.html" class="ic-primary-button">Reg&iacute;strate aqu&iacute;</a>
</main>

<footer></footer>

<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/util.js"></script>
</body>
</html>