<div class="container">
	<div class="presentation">
		<a href="../index.html"><img src="../assets/images/logo-intercorp-white.png" alt="Club Intercorp"></a>
		<p>El Club Intercorp es el programa de beneficios exclusivo para colaboradores de empresas afiliadas al grupo Intercorp.</p>
		<p>Disponible tambi&eacute;n en:</p>
		<div class="apps">
			<a href="javascript:void(0)"><i class="fab fa-apple" aria-hidden="true"></i></a>
			<a href="javascript:void(0)"><i class="fab fa-android" aria-hidden="true"></i></a>
		</div>
	</div>
	<div class="menus">
		<ul class="menu-club">
			<li onclick="openMenuFooter(this)">Club Intercorp <i class="fas fa-angle-down" aria-hidden="true"></i></li>
			<li><a href="/views/benefits.html">Beneficios</a></li>
			<li><a href="javascript:void(0)">Categor&iacute;as</a></li>
			<li><a href="javascript:void(0)">Establecimientos</a></li>
		</ul>
		<ul class="menu-soporte">
			<li onclick="openMenuFooter(this)">Soporte <i class="fas fa-angle-down" aria-hidden="true"></i></li>
			<li><a href="javascript:void(0)">&iquest;Qu&eacute; es el Club Intercorp?</a></li>
			<li><a href="javascript:void(0)">T&eacute;rminos y condiciones</a></li>
			<li><a href="javascript:void(0)">Preguntas frecuentes</a></li>
		</ul>
		<ul class="menu-contacto">
			<li onclick="openMenuFooter(this)">Contacto <i class="fas fa-angle-down" aria-hidden="true"></i></li>
			<li><a href="javascript:void(0)">Soy colaborador de Intercorp</a></li>
			<li><a href="javascript:void(0)">Soy una empresa</a></li>
			<li>
				<ul class="social-media">
					<li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
					<li><a href="javascript:void(0)"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
					<li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="javascript:void(0)"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="follow">
		<p>S&iacute;guenos en:</p>
		<ul class="follow">
			<li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0)"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0)"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<div class="available">
		<p>Disponible tambi&eacute;n en:</p>
		<ul>
			<li><a href="javascript:void(0)"><i class="fab fa-apple" aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0)"><i class="fab fa-android" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</div>
<p class="copy">Copyright &copy; 2020 Club Intercorp. Todos los derechos reservados.</p>

<div class="ic-modal" id="modal-contact">
	<div class="content-modal">
		<div class="header-modal">
			<h2 class="title">Cont&aacute;ctanos</h2>
			<i class="fas fa-times close-modal" aria-hidden="true"></i>
		</div>
		<div class="body-modal">
			<p>Escr&iacute;benos tu consulta y te responderemos al brevedad</p>
			<div class="ic-dropdown">
				<i class="fas fa-angle-down" aria-hidden="true"></i>
				<span class="placeholder">Asunto</span>
				<input type="text" readonly>
				<input type="hidden">
				<ul class="ic-droplist">
					<li class="disabled">Elige un asunto</li>
					<li class="ic-dropitem" data-value="0">Tengo problemas con el acceso a mi cuenta</li>
					<li class="ic-dropitem" data-value="1">No puedo utilizar un beneficio</li>
					<li class="ic-dropitem" data-value="2">Tengo problemas con la configuraci&oacute;n de mi cuenta</li>
					<li class="ic-dropitem" data-value="3">Otro</li>
				</ul>
				<!-- <select id="" class="ic-dropdown-mobile">
					<option disabled selected value="">Elige un asunto</option>
					<option value="0">Tengo problemas con el acceso a mi cuenta</option>
					<option value="1">No puedo utilizar un beneficio</option>
					<option value="2">Tengo problemas con la configuraci&oacute;n de mi cuenta</option>
					<option value="3">Otro</option>
				</select> -->
			</div>
			<label class="ic-textarea">
				<span class="placeholder">Comentario</span>
				<textarea></textarea>
			</label>
			<div class="buttons">
				<button type="button" class="ic-primary-button" onclick="submitEnviar(this)">
					<span>Enviar</span>
					<div class="ic-button-loader"><div></div><div></div><div></div><div></div></div>
				</button>
			</div>
		</div>
	</div>
	<div class="content-modal success-send">
		<div class="body-modal">
			<img src="../assets/images/success-send.png" alt="">
			<p class="title">Cup&oacute;n generado</p>
			<p>Tu cup&oacute;n ha sido generado con &eacute;xito, lo encontrar&aacute;s en la zona de <a class="ic-inline-link" href="javascript:void(0)">tus beneficios</a>. Aseg&uacute;rate de utilizarlo antes de la fecha de expiraci&oacute;n.</p>
			<button class="ic-primary-button ok" type="button">Entendido</button>
		</div>
	</div>
</div>

<script type="text/javascript">
	setTimeout(function(){
		$(function(){
			icDropdown();
		});
	}, 500);
</script>