<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Club Intercorp</title>
	<link rel="stylesheet" href="../styles/glide.core.min.css">
	<link rel="stylesheet" href="../styles/glide.theme.min.css">
	<link rel="stylesheet" href="../styles/shared.css">
	<link rel="stylesheet" href="../styles/login-register.css">
	<link rel="stylesheet" href="../styles/layout-home.css">
	<link rel="stylesheet" href="../styles/benefits.css">
	<link rel="stylesheet" href="../styles/locations.css">
	<link rel="stylesheet" href="../styles/coupons.css">
	<link rel="stylesheet" href="../styles/other.css">
	<link rel="stylesheet" href="../assets/fonts/fontawesome.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
</head>