<script type="text/javascript" src="../scripts/glide.min.js"></script>
<script type="text/javascript" src="../scripts/moment.js"></script>
<script type="text/javascript" src="../scripts/login.js"></script>
<script type="text/javascript" src="../scripts/home.js"></script>
<script type="text/javascript" src="../scripts/benefits.js"></script>
<script type="text/javascript" src="../scripts/locations.js"></script>
<script type="text/javascript" src="../scripts/coupons.js"></script>
<script type="text/javascript" src="../scripts/other.js"></script>