<script type="text/javascript" src="C:/Users/JOHANN/downloads-git/aa-pag/club-intercorp/scripts/glide.min.js"></script>
<script type="text/javascript" src="C:/Users/JOHANN/downloads-git/aa-pag/club-intercorp/scripts/moment.js"></script>
<script type="text/javascript" src="C:/Users/JOHANN/downloads-git/aa-pag/club-intercorp/scripts/login.js"></script>
<script type="text/javascript" src="C:/Users/JOHANN/downloads-git/aa-pag/club-intercorp/scripts/home.js"></script>
<script type="text/javascript" src="C:/Users/JOHANN/downloads-git/aa-pag/club-intercorp/scripts/benefits.js"></script>
<script type="text/javascript" src="C:/Users/JOHANN/downloads-git/aa-pag/club-intercorp/scripts/locations.js"></script>
<script type="text/javascript" src="C:/Users/JOHANN/downloads-git/aa-pag/club-intercorp/scripts/coupons.js"></script>
<script type="text/javascript" src="C:/Users/JOHANN/downloads-git/aa-pag/club-intercorp/scripts/other.js"></script>