@import '../styles/style.variable.scss';

#benefits-page {
	padding-top: 50px;
	padding-bottom: 150px;
	.back {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		color: $blue;
		font-size: 13px;
		font-weight: 500;
		margin-bottom: 20px;
		.fas {
			color: $blue;
			margin-right: 5px;
		}
	}
	.content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		.filters {
			width: 300px;
			margin-right: 40px;
			.filter {
				border: 1px solid $borderGray;
				box-shadow: $boxShadow;
				border-radius: 10px;
				padding: 10px 20px 20px 20px;
				&:not(:last-child) { margin-bottom: 15px; }
				& > p {
					font-size: 15px;
					font-weight: 500;
					padding: 10px 0;
					border-bottom: 1px solid $borderGray;
					margin-bottom: 15px;
				}
				.ic-checkbox {
					display: block;
					&:not(:last-child) { margin-bottom: 10px; }
				}
			}
		}
		.benefit-list {
			width: calc(100% - 300px);
			.title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 20px;
				h1 {
					font-size: 20px;
					font-weight: bold;
				}
				.ic-dropdown {
					max-width: 220px;
					z-index: 2;
				}
				.ic-secondary-button { display: none; }
			}
			section {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 20px;
				.benefit {
					width: calc(100% / 3 - 40px / 3);
					border: 1px solid $borderGray;
					border-radius: 10px;
					padding: 20px;
					position: relative;
					margin-bottom: 20px;
					&:not(:nth-child(3n)) { margin-right: 20px; }
					.tag-new {
						position: absolute;
						top: 10px;
						left: 10px;
						background-color: $pink;
						color: white;
						font-size: 12px;
						padding: 7px;
						border-radius: 7px;
						z-index: 1;
						.far {
							color: white;
							font-size: 12px;
							margin-right: 3px;
						}
					}
					.image {
						display: flex;
						align-items: center;
						justify-content: center;
						max-height: 240px;
						width: 100%;
						overflow: hidden;
						border-radius: 10px;
						img { width: 100%; }
					}
					.detail {
						padding-top: 15px;
						.brand {
							font-size: 13px;
							color: $placeholder;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
						}
						.name {
							font-size: 15px;
							font-weight: 500;
							margin-top: 3px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
						}
						.buttons {
							display: flex;
							align-items: center;
							justify-content: space-between;
							margin-top: 20px;
							.ic-primary-button { padding: 0 30px; }
							.share {
								display: flex;
								align-items: center;
								list-style: none;
								li {
									&:not(:last-child) { margin-right: 10px; }
									i {
										font-size: 20px;
										color: transparent;
										cursor: pointer;
										transition: $fast;
									}
									&:first-child i { -webkit-text-stroke: 1px $blue2; }
									&:last-child i { -webkit-text-stroke: 1px $red; }
									&:active i { transform: scale(0.95); }
									@media (hover: hover){
										&:first-child:hover i { color: $blue2; }
										&:last-child:hover i { color: $red; }
									}
									
								}
							}
						}
					}
					@media screen and (max-width: 1100px){
						width: calc(100% / 2 - 10px);
						margin-bottom: 20px;
						&:not(:nth-child(2n)) { margin-right: 20px; }
						&:nth-child(2n), &:last-child { margin-right: 0; }
					}
					@media screen and (max-width: 540px) {
						width: 100%;
						margin-right: 0 !important;
						display: flex;
						align-items: flex-start;
						.image { width: 30%; }
						.detail {
							padding-top: 0;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							height: 100%;
							width: 70%;
							padding-left: 20px;
						}
					}
					@media screen and (max-width: 440px) {
						padding: 0;
						overflow: hidden;
						.image {
							border-radius: 0;
							height: 100%;
							max-height: none;
							position: relative;
							img {
								height: 100%;
								width: auto;
								position: absolute;
							}
						}
						.detail {
							padding: 15px;
						}
					}
					@media screen and (max-width: 400px) {
						.detail .buttons .ic-primary-button { padding: 0 15px; }
					}
				}
			}
		}
		@media screen and (max-width: 870px) {
			.filters { margin-right: 20px; }
			.benefit-list section .benefit .detail .buttons .ic-primary-button {
				padding: 0 15px;
			}
		}
		@media screen and (max-width: 800px) {
			.filters {
				display: none;		

			}
			.benefit-list {
				width: 100%;
				.title {
					h1 { width: 100%; }
					& > div {
						display: flex;
						align-items: center;
						width: 100%;
						justify-content: flex-end;
					}
					.ic-dropdown { display: inline-block; }
					.ic-secondary-button {
						margin-left: 10px;
						display: inline-block;
					}
				}
			}
		}
		@media screen and (max-width: 600px) {
			.benefit-list {
				.title {
					flex-direction: column;
					align-items: flex-start;
					h1 { margin-bottom: 15px; }
					& > div { justify-content: flex-start; }
				}
			}
		}
	}
	#modal-filter .body-modal {
		.filter {
			&:not(:last-child) { margin-bottom: 30px; }
			& > p {
				font-size: 15px;
				font-weight: 500;
				padding: 10px 0;
				border-bottom: 1px solid $borderGray;
				margin-bottom: 15px;
			}
			.ic-checkbox {
				display: block;
				&:not(:last-child) { margin-bottom: 10px; }
			}
		}
	}
}

#benefit-detail-page {
	padding-top: 50px;
	padding-bottom: 150px;
	.back {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		color: $blue;
		font-size: 13px;
		font-weight: 500;
		margin-bottom: 20px;
		.fas {
			color: $blue;
			margin-right: 5px;
		}
	}
	& > div:not(#modal-cupon):not(.information) {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		.image {
			max-width: 500px;
			width: 100%;
			margin-right: 40px;
			img {
				border-radius: 10px;
				box-shadow: $shadowButton;
			}
		}
		.content {
			padding-top: 15px;
			.category {
				display: flex;
				align-items: center;
				color: #FFB600;
				font-size: 13px;
				font-weight: 500;
				.fas {
					font-size: 20px;
					margin-right: 7px;
					color: transparent;
					-webkit-text-stroke: 1px #FFB600;
				}
			}
			.brand {
				color: $gray;
				font-weight: 500;
				margin: 15px 0 5px 0;
			}
			.block {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				border-bottom: 1px solid $borderGray;
				padding-bottom: 30px;
				margin-bottom: 30px;
				.title {
					font-size: 24px;
				}
				.buttons {
					margin-top: 30px;
					.ic-primary-button {
						line-height: 44px;
						padding: 0 20px;
					}
				}
				.until {
					font-size: 12px;
					color: $placeholder;
					margin-top: 12px;
				}
				img { margin-left: 30px; }
				@media screen and (max-width: 1080px){
					flex-direction: column;
					img { margin-left: 0; }
				}
			}
			.timer {
				padding-bottom: 30px;
				margin-bottom: 30px;
				border-bottom: 1px solid $borderGray;
				.code {
					margin-bottom: 15px;
					font-size: 18px;
					strong { font-size: inherit; }
				}
				p:not(.code) {
					color: $gray;
					font-size: 12px;
					margin-bottom: 7px;
				}
				ul {
					display: flex;
					align-items: center;
					li {
						list-style: none;
						border: 1px solid $borderGray;
						border-radius: 10px;
						padding: 10px;
						text-align: center;
						width: 100px;
						&:not(:last-child) { margin-right: 7px; }
						strong {
							font-size: 20px;
							margin-bottom: 5px;
							display: block;
						}
					}
				}
				button {
					margin-top: 20px;
					color: $blue;
					background-color: transparent;
					font-weight: 500;
					font-size: 12px;
					border: none;
					cursor: pointer;
				}
			}
			.locations {
				.pre {
					font-size: 14px;
					font-weight: bold;
					margin-bottom: 20px;
					.fas {
						color: $gray;
						margin-left: 5px;
					}
				}
				.directions {
					margin-bottom: 40px;
					article {
						&:not(:last-child) { margin-bottom: 10px; }
						a {
							display: flex;
							align-items: center;
							justify-content: space-between;
							border: 1px solid $borderGray;
							border-radius: 10px;
							padding: 20px;
							text-decoration: none;
							& > div {
								.district {
									color: $blue2;
									font-weight: bold;
									margin-bottom: 7px;
								}
								.hour {
									color: $gray;
									margin-top: 7px;
								}
							}
							.distance {
								margin-left: 15px;
								width: 65px;
								text-align: center;
								p {
									font-size: 12px;
									color: $gray;
									margin-bottom: 4px;
								}
								.fas {
									color: #FFB600;
									font-size: 30px;
								}
							}
						}
					}
				}
			}
			.information {
				.tabs {
					display: flex;
					margin-bottom: 10px;
					span {
						font-size: 13px;
						color: $placeholder;
						margin-right: 50px;
						transition: $fast;
						padding-bottom: 10px;
						cursor: pointer;
						&.active {
							color: $blue2;
							font-weight: 500;
							box-shadow: inset 0px -2px 0px 0px $blue2;
						}
					}
				}
				.content div:not(:first-child) { display: none; }
			}
		}
		@media screen and (max-width: 1080px){
			.image {
				max-width: none;
				width: 40%;
				img { width: 100%; }
			}
			.content { width: 60%; }
		}
		@media screen and (max-width: 700px){
			flex-direction: column;
			.image {
				width: 100%;
				margin-right: 0;
				margin-bottom: 10px;
			}
			.content { width: 100%; }
		}
	}
	#modal-cupon {
		.content-modal {
			max-width: 500px;
			.body-modal {
				padding: 40px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				img { margin: 0 auto 15px auto; }
				.rotate {
					animation: rotate 2s infinite linear;
					transition: $fast;
					@keyframes rotate {
						0% { transform: rotate(0deg); }
						0% { transform: rotate(-360deg); }
					}
				}
				.title {
					font-size: 22px;
					font-weight: bold;
					margin-bottom: 5px;
					color: $blue;
				}
				p { text-align: center; }
				.ic-primary-button {
					margin-top: 20px;
				}
			}
		}
		&.generated {
			.content-modal .body-modal:not(.loading) { display: none; } 
		}
	}
	@media screen and (max-width: 700px){
		padding-top: 30px;
	}
}