#benefits-page {
  padding-top: 50px;
  padding-bottom: 150px;
}
#benefits-page .back {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #0039A6;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}
#benefits-page .back .fas {
  color: #0039A6;
  margin-right: 5px;
}
#benefits-page .content .benefit-list .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
#benefits-page .content .benefit-list .title h1 {
  font-size: 20px;
  font-weight: 400;
}
#benefits-page .content .benefit-list .title h1 span {
  font-size: inherit;
  font-weight: bold;
}
#benefits-page .content .benefit-list .title .ic-dropdown {
  max-width: 220px;
  z-index: 2;
}
#benefits-page .content .benefit-list .title .ic-secondary-button {
  display: none;
}
#benefits-page .content .benefit-list .brands h2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #a9a9a9;
}
#benefits-page .content .benefit-list .brands .list-brands {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 30px;
}
#benefits-page .content .benefit-list .brands .list-brands li {
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
#benefits-page .content .benefit-list .brands .list-brands li:not(:last-child) {
  margin-right: 10px;
}
#benefits-page .content .benefit-list .brands .list-brands li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
}
#benefits-page .content .benefit-list .brands .list-brands li a img {
  width: 100%;
  max-height: 100%;
}
#benefits-page .content .benefit-list section:not(.brands) {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit {
  width: calc(100% / 4 - 60px / 4);
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit:not(:nth-child(4n)) {
  margin-right: 20px;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .tag-new {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #EC00A6;
  color: white;
  font-size: 12px;
  padding: 7px;
  border-radius: 7px;
  z-index: 1;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .tag-new .far {
  color: white;
  font-size: 12px;
  margin-right: 3px;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 240px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .image img {
  width: 100%;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .detail {
  padding-top: 15px;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .detail .brand {
  font-size: 13px;
  color: #B5B5B5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .detail .name {
  font-size: 15px;
  font-weight: 500;
  margin-top: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .detail .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .detail .buttons .ic-primary-button {
  padding: 0 30px;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .detail .buttons .share {
  display: flex;
  align-items: center;
  list-style: none;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .detail .buttons .share li:not(:last-child) {
  margin-right: 10px;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .detail .buttons .share li i {
  font-size: 20px;
  color: transparent;
  cursor: pointer;
  transition: 0.2s;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .detail .buttons .share li:first-child i {
  -webkit-text-stroke: 1px #1A8EAD;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .detail .buttons .share li:last-child i {
  -webkit-text-stroke: 1px #D82323;
}
#benefits-page .content .benefit-list section:not(.brands) .benefit .detail .buttons .share li:active i {
  transform: scale(0.95);
}
@media (hover: hover) {
  #benefits-page .content .benefit-list section:not(.brands) .benefit .detail .buttons .share li:first-child:hover i {
    color: #1A8EAD;
  }
  #benefits-page .content .benefit-list section:not(.brands) .benefit .detail .buttons .share li:last-child:hover i {
    color: #D82323;
  }
}
@media screen and (max-width: 1100px) {
  #benefits-page .content .benefit-list section:not(.brands) .benefit {
    width: calc(100% / 3 - 40px / 3);
    margin-bottom: 20px;
  }
  #benefits-page .content .benefit-list section:not(.brands) .benefit:not(:nth-child(3n)) {
    margin-right: 20px;
  }
  #benefits-page .content .benefit-list section:not(.brands) .benefit:nth-child(3n), #benefits-page .content .benefit-list section:not(.brands) .benefit:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 750px) {
  #benefits-page .content .benefit-list section:not(.brands) .benefit {
    width: calc(100% / 2 - 10px);
    margin-bottom: 20px;
  }
  #benefits-page .content .benefit-list section:not(.brands) .benefit:not(:nth-child(2n)) {
    margin-right: 20px;
  }
  #benefits-page .content .benefit-list section:not(.brands) .benefit:nth-child(2n), #benefits-page .content .benefit-list section:not(.brands) .benefit:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 540px) {
  #benefits-page .content .benefit-list section:not(.brands) .benefit {
    width: 100%;
    margin-right: 0 !important;
    display: flex;
    align-items: flex-start;
  }
  #benefits-page .content .benefit-list section:not(.brands) .benefit .image {
    width: 30%;
  }
  #benefits-page .content .benefit-list section:not(.brands) .benefit .detail {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 70%;
    padding-left: 20px;
  }
}
@media screen and (max-width: 440px) {
  #benefits-page .content .benefit-list section:not(.brands) .benefit {
    padding: 0;
    overflow: hidden;
  }
  #benefits-page .content .benefit-list section:not(.brands) .benefit .image {
    border-radius: 0;
    height: 100%;
    max-height: none;
    position: relative;
  }
  #benefits-page .content .benefit-list section:not(.brands) .benefit .image img {
    height: 100%;
    width: auto;
    position: absolute;
  }
  #benefits-page .content .benefit-list section:not(.brands) .benefit .detail {
    padding: 15px;
  }
}
@media screen and (max-width: 400px) {
  #benefits-page .content .benefit-list section:not(.brands) .benefit .detail .buttons .ic-primary-button {
    padding: 0 15px;
  }
}
@media screen and (max-width: 870px) {
  #benefits-page .content .filters {
    margin-right: 20px;
  }
  #benefits-page .content .benefit-list section .benefit .detail .buttons .ic-primary-button {
    padding: 0 15px;
  }
}
@media screen and (max-width: 800px) {
  #benefits-page .content .filters {
    display: none;
  }
  #benefits-page .content .benefit-list {
    width: 100%;
  }
  #benefits-page .content .benefit-list .title h1 {
    width: 100%;
  }
  #benefits-page .content .benefit-list .title > div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }
  #benefits-page .content .benefit-list .title .ic-dropdown {
    display: inline-block;
  }
  #benefits-page .content .benefit-list .title .ic-secondary-button {
    margin-left: 10px;
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  #benefits-page .content .benefit-list .title {
    flex-direction: column;
    align-items: flex-start;
  }
  #benefits-page .content .benefit-list .title h1 {
    margin-bottom: 15px;
  }
  #benefits-page .content .benefit-list .title > div {
    justify-content: flex-start;
  }
}
#benefits-page #modal-filter .body-modal .filter:not(:last-child) {
  margin-bottom: 30px;
}
#benefits-page #modal-filter .body-modal .filter > p {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 15px;
}
#benefits-page #modal-filter .body-modal .filter .ic-checkbox {
  display: block;
}
#benefits-page #modal-filter .body-modal .filter .ic-checkbox:not(:last-child) {
  margin-bottom: 10px;
}

#benefit-detail-page {
  padding-top: 50px;
  padding-bottom: 150px;
}
#benefit-detail-page .back {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #0039A6;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}
#benefit-detail-page .back .fas {
  color: #0039A6;
  margin-right: 5px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .image {
  max-width: 500px;
  width: 100%;
  margin-right: 40px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .image img {
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content {
  padding-top: 15px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .category {
  display: flex;
  align-items: center;
  color: #FFB600;
  font-size: 13px;
  font-weight: 500;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .category .fas {
  font-size: 20px;
  margin-right: 7px;
  color: transparent;
  -webkit-text-stroke: 1px #FFB600;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .brand {
  color: #a9a9a9;
  font-weight: 500;
  margin: 15px 0 5px 0;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .block .title {
  font-size: 24px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .block .buttons {
  margin-top: 30px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .block .buttons .ic-primary-button {
  line-height: 44px;
  padding: 0 20px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .block .until {
  font-size: 12px;
  color: #B5B5B5;
  margin-top: 12px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .block img {
  margin-left: 30px;
}
@media screen and (max-width: 1080px) {
  #benefit-detail-page > div:not(#modal-cupon):not(.information) .content .block {
    flex-direction: column;
  }
  #benefit-detail-page > div:not(#modal-cupon):not(.information) .content .block img {
    margin-left: 0;
  }
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .timer {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #EAEAEA;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .timer .code {
  margin-bottom: 15px;
  font-size: 18px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .timer .code strong {
  font-size: inherit;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .timer p:not(.code) {
  color: #a9a9a9;
  font-size: 12px;
  margin-bottom: 7px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .timer ul {
  display: flex;
  align-items: center;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .timer ul li {
  list-style: none;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .timer ul li:not(:last-child) {
  margin-right: 7px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .timer ul li strong {
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .timer button {
  margin-top: 20px;
  color: #0039A6;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .locations {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #EAEAEA;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .locations .pre {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .locations .pre .fas {
  color: #a9a9a9;
  margin-left: 5px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .locations .directions {
  margin-bottom: 40px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .locations .directions article:not(:last-child) {
  margin-bottom: 10px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .locations .directions article a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .locations .directions article a > div .district {
  color: #1A8EAD;
  font-weight: bold;
  margin-bottom: 7px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .locations .directions article a > div .hour {
  color: #a9a9a9;
  margin-top: 7px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .locations .directions article a .distance {
  margin-left: 15px;
  width: 65px;
  text-align: center;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .locations .directions article a .distance p {
  font-size: 12px;
  color: #a9a9a9;
  margin-bottom: 4px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .locations .directions article a .distance .fas {
  color: #FFB600;
  font-size: 30px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .information .tabs {
  display: flex;
  margin-bottom: 10px;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .information .tabs span {
  font-size: 13px;
  color: #B5B5B5;
  margin-right: 50px;
  transition: 0.2s;
  padding-bottom: 10px;
  cursor: pointer;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .information .tabs span.active {
  color: #1A8EAD;
  font-weight: 500;
  box-shadow: inset 0px -2px 0px 0px #1A8EAD;
}
#benefit-detail-page > div:not(#modal-cupon):not(.information) .content .information .content div:not(:first-child) {
  display: none;
}
@media screen and (max-width: 1080px) {
  #benefit-detail-page > div:not(#modal-cupon):not(.information) .image {
    max-width: none;
    width: 40%;
  }
  #benefit-detail-page > div:not(#modal-cupon):not(.information) .image img {
    width: 100%;
  }
  #benefit-detail-page > div:not(#modal-cupon):not(.information) .content {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  #benefit-detail-page > div:not(#modal-cupon):not(.information) {
    flex-direction: column;
  }
  #benefit-detail-page > div:not(#modal-cupon):not(.information) .image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  #benefit-detail-page > div:not(#modal-cupon):not(.information) .content {
    width: 100%;
  }
}
#benefit-detail-page #modal-cupon .content-modal {
  max-width: 500px;
}
#benefit-detail-page #modal-cupon .content-modal .body-modal {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#benefit-detail-page #modal-cupon .content-modal .body-modal img {
  margin: 0 auto 15px auto;
}
#benefit-detail-page #modal-cupon .content-modal .body-modal .rotate {
  animation: rotate 2s infinite linear;
  transition: 0.2s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(-360deg);
  }
}
#benefit-detail-page #modal-cupon .content-modal .body-modal .title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #0039A6;
}
#benefit-detail-page #modal-cupon .content-modal .body-modal p {
  text-align: center;
}
#benefit-detail-page #modal-cupon .content-modal .body-modal .ic-primary-button {
  margin-top: 20px;
}
#benefit-detail-page #modal-cupon.generated .content-modal .body-modal:not(.loading) {
  display: none;
}
@media screen and (max-width: 700px) {
  #benefit-detail-page {
    padding-top: 30px;
  }
}

/*# sourceMappingURL=benefits.css.map */
