#preferences-page {
  padding-top: 50px;
  padding-bottom: 150px;
}
#preferences-page .back {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #0039A6;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}
#preferences-page .back .fas {
  color: #0039A6;
  margin-right: 5px;
}
#preferences-page h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
#preferences-page .content {
  display: flex;
  align-items: flex-start;
}
#preferences-page .content .menu-prefs {
  width: 360px;
  padding: 20px;
  list-style: none;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
}
#preferences-page .content .menu-prefs li:not(.divider) {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
#preferences-page .content .menu-prefs li:not(.divider) .fas {
  width: 20px;
  text-align: center;
  color: #B5B5B5;
  font-size: 17px;
  margin-right: 10px;
}
#preferences-page .content .menu-prefs li:not(.divider) span {
  font-size: 13px;
}
#preferences-page .content .menu-prefs li:not(.divider) img {
  width: 20px;
  margin-right: 10px;
}
#preferences-page .content .menu-prefs li:not(.divider):hover {
  background-color: #F5F5F5;
}
#preferences-page .content .menu-prefs li:not(.divider).active {
  background-color: #1A8EAD;
}
#preferences-page .content .menu-prefs li:not(.divider).active .fas, #preferences-page .content .menu-prefs li:not(.divider).active span {
  color: white;
}
#preferences-page .content .menu-prefs .divider {
  margin: 10px 0;
  height: 1px;
  display: block;
  width: 100%;
  background-color: #EAEAEA;
}
@media screen and (max-width: 1000px) {
  #preferences-page .content .forms {
    margin-left: 20px;
  }
}
@media screen and (max-width: 880px) {
  #preferences-page .content .menu-prefs {
    display: none;
  }
  #preferences-page .content .forms {
    margin-left: 0;
    width: 100%;
  }
  #preferences-page .content .forms [data-form] {
    display: block;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
  }
  #preferences-page .content .forms [data-form]:not(:last-child) {
    margin-bottom: 15px;
  }
  #preferences-page .content .forms [data-form]:not(:first-child) h2 + div {
    display: none;
  }
  #preferences-page .content .forms [data-form] h2 {
    color: #a9a9a9;
    font-size: 13px;
    font-weight: 500;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
  }
  #preferences-page .content .forms [data-form] h2 .fas {
    color: #a9a9a9;
    margin-right: 5px;
    display: block;
  }
  #preferences-page .content .forms [data-form] h2 img {
    margin-right: 5px;
  }
  #preferences-page .content .forms [data-form] h2 + div {
    display: none;
    border-top: 1px solid #EAEAEA;
    padding: 20px;
  }
  #preferences-page .content .forms [data-form].open {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
  }
  #preferences-page .content .forms [data-form].open h2 {
    background-color: #1A8EAD;
    color: white;
  }
  #preferences-page .content .forms [data-form].open h2 .fas {
    color: white;
  }
  #preferences-page .content .forms [data-form].open h2 + div {
    display: block;
  }
}
#preferences-page .forms {
  width: calc(100% - 360px);
  margin-left: 50px;
}
#preferences-page .forms > *:not(.form1) {
  display: none;
}
#preferences-page .forms [data-form] h2 i, #preferences-page .forms [data-form] h2 img {
  display: none;
}
#preferences-page .forms .form1 h2, #preferences-page .forms .form3 h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
#preferences-page .forms .form1 > div > div:not(:last-child), #preferences-page .forms .form3 > div > div:not(:last-child) {
  margin-bottom: 10px;
}
#preferences-page .forms .form1 .mr, #preferences-page .forms .form3 .mr {
  margin-right: 10px;
}
#preferences-page .forms .form1 .row1, #preferences-page .forms .form3 .row1 {
  display: flex;
}
#preferences-page .forms .form1 .row1 .ic-dropdown, #preferences-page .forms .form3 .row1 .ic-dropdown {
  width: 30%;
}
#preferences-page .forms .form1 .row1 .ic-textfield, #preferences-page .forms .form3 .row1 .ic-textfield {
  width: 70%;
}
#preferences-page .forms .form1 .row2, #preferences-page .forms .form1 .row4, #preferences-page .forms .form3 .row2, #preferences-page .forms .form3 .row4 {
  display: flex;
}
#preferences-page .forms .form1 .row2 label:first-child, #preferences-page .forms .form1 .row4 label:first-child, #preferences-page .forms .form3 .row2 label:first-child, #preferences-page .forms .form3 .row4 label:first-child {
  width: 60%;
}
#preferences-page .forms .form1 .row2 label:last-child, #preferences-page .forms .form1 .row4 label:last-child, #preferences-page .forms .form3 .row2 label:last-child, #preferences-page .forms .form3 .row4 label:last-child {
  width: 40%;
}
#preferences-page .forms .form1 .row3, #preferences-page .forms .form3 .row3 {
  display: flex;
}
#preferences-page .forms .form1 .row3 .ic-dropdown, #preferences-page .forms .form3 .row3 .ic-dropdown {
  width: 50%;
}
#preferences-page .forms .form1 .row5, #preferences-page .forms .form3 .row5 {
  display: flex;
}
#preferences-page .forms .form1 .row5 .ic-dropdown, #preferences-page .forms .form3 .row5 .ic-dropdown {
  width: calc(100% / 3);
}
#preferences-page .forms .form1 .buttons, #preferences-page .forms .form3 .buttons {
  margin-top: 20px;
}
#preferences-page .forms .form1 .buttons .ic-primary-button, #preferences-page .forms .form3 .buttons .ic-primary-button {
  line-height: 50px;
  margin-right: 10px;
}
#preferences-page .forms .form1 .buttons .ic-secondary-button, #preferences-page .forms .form3 .buttons .ic-secondary-button {
  padding: 0 30px;
}
@media screen and (max-width: 630px) {
  #preferences-page .forms .form1 > div > div:not(.buttons), #preferences-page .forms .form3 > div > div:not(.buttons) {
    flex-direction: column !important;
  }
  #preferences-page .forms .form1 > div > div:not(.buttons) > *, #preferences-page .forms .form3 > div > div:not(.buttons) > * {
    width: 100% !important;
  }
  #preferences-page .forms .form1 > div > div:not(.buttons) .mr, #preferences-page .forms .form3 > div > div:not(.buttons) .mr {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
#preferences-page .forms .form2 h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
#preferences-page .forms .form2 .tabs {
  display: flex;
  margin-bottom: 20px;
}
#preferences-page .forms .form2 .tabs span {
  font-size: 13px;
  color: #B5B5B5;
  margin-right: 30px;
  transition: 0.2s;
  padding-bottom: 10px;
  cursor: pointer;
}
#preferences-page .forms .form2 .tabs span.active {
  color: #1A8EAD;
  font-weight: 500;
  box-shadow: inset 0px -2px 0px 0px #1A8EAD;
}
#preferences-page .forms .form2 .form-tabs .ic-textfield {
  margin-bottom: 10px;
}
#preferences-page .forms .form2 .form-tabs [data-content=email] {
  display: none;
}
#preferences-page .forms .form2 .form-tabs [data-content=email] p {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 15px;
}
#preferences-page .forms .form2 .form-tabs [data-content=email] .ic-radio {
  margin-bottom: 20px;
}
#preferences-page .forms .form2 .form-tabs [data-content=email] .unsubscribe {
  -webkit-appearance: none;
  color: #D82323;
  border: none;
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  user-select: none;
  outline: none;
}
#preferences-page .forms .form2 .form-tabs [data-content=email] .unsubscribe .fas {
  color: #D82323;
  margin-right: 5px;
}
#preferences-page .forms .form2 .form-tabs .buttons {
  margin-top: 20px;
}
#preferences-page .forms .form2 .form-tabs .buttons .ic-primary-button {
  line-height: 50px;
  margin-right: 10px;
}
#preferences-page .forms .form2 .form-tabs .buttons .ic-secondary-button {
  padding: 0 30px;
}
#preferences-page .forms .form4 h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
#preferences-page .forms .form4 p {
  font-size: 13px;
}
#preferences-page .forms .form4 .ic-textfield {
  margin-top: 15px;
  max-width: 300px;
}
#preferences-page .form5 h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
#preferences-page .form5 .job-list {
  display: flex;
  flex-wrap: wrap;
}
#preferences-page .form5 .job-list article {
  width: calc(100% / 2 - 7.5px);
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: flex-start;
}
#preferences-page .form5 .job-list article:not(:nth-child(2n)) {
  margin-right: 15px;
}
#preferences-page .form5 .job-list article img {
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  margin-right: 15px;
}
#preferences-page .form5 .job-list article .detail .brand {
  font-size: 13px;
  color: #B5B5B5;
  margin-bottom: 3px;
}
#preferences-page .form5 .job-list article .detail .job {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
#preferences-page .form5 .job-list article .detail .publish, #preferences-page .form5 .job-list article .detail .end {
  font-size: 12px;
  color: #a9a9a9;
  margin-bottom: 5px;
}
#preferences-page .form5 .job-list article .detail .ic-primary-button {
  margin-top: 15px;
}
@media screen and (max-width: 640px) {
  #preferences-page .form5 .job-list article {
    width: 100%;
    margin-right: 0 !important;
  }
}
#preferences-page .form5 .ic-paginator {
  margin-top: 30px;
}
#preferences-page .form6 h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

#que-es-page {
  padding-top: 50px;
  padding-bottom: 150px;
}
#que-es-page .back {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #0039A6;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}
#que-es-page .back .fas {
  color: #0039A6;
  margin-right: 5px;
}
#que-es-page h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
#que-es-page p {
  font-size: 13px;
  text-align: center;
}
#que-es-page iframe {
  width: 100%;
  max-width: 740px;
  display: block;
  height: 430px;
  border: none;
  margin: 20px auto;
}
#que-es-page .ic-primary-button {
  margin: 20px auto;
  display: block;
  width: max-content;
}

#tyc-page {
  padding-top: 50px;
  padding-bottom: 150px;
}
#tyc-page .back {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #0039A6;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}
#tyc-page .back .fas {
  color: #0039A6;
  margin-right: 5px;
}
#tyc-page h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
#tyc-page .subtitle {
  color: #1A8EAD;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
#tyc-page p {
  font-size: 13px;
  margin-bottom: 10px;
}
#tyc-page p.list {
  padding-left: 15px;
}
#tyc-page ul.alpha {
  padding-left: 25px;
  margin-bottom: 10px;
}
#tyc-page ul.alpha li {
  list-style: upper-alpha;
  font-size: 13px;
}
#tyc-page ul {
  padding-left: 25px;
  margin-bottom: 10px;
  font-size: 13px;
}

#faq-page {
  padding-top: 50px;
  padding-bottom: 150px;
}
#faq-page .back {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #0039A6;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}
#faq-page .back .fas {
  color: #0039A6;
  margin-right: 5px;
}
#faq-page h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
#faq-page .ic-inline-link {
  font-size: inherit;
}

/*# sourceMappingURL=other.css.map */
