$whiteOpacity: rgba(255, 255, 255, 0.7);
$textColor: #484848;
$placeholder: #B5B5B5;
$blue: #0039A6;
$blue2: #1A8EAD;
$red: #D82323;
$pink: #EC00A6;
$blueHover: rgba(0, 58, 166, 0.8);
$fast: 0.2s;
$boxShadow: 0px 2px 2px 0px rgba(0,0,0,0.07);
$shadowButton: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
$whiteHover: #F5F5F5;
$borderGray: #EAEAEA;
$bgModal: rgba(0, 0, 0, 0.8);
$gray: #a9a9a9;
$darkGray: #7D7D7D;